<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Synthetix sETH/ETH Uniswap Pool Rewards Calculator</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
	</head>
	<body>
		<h3><a href='../../logs'>Logs</a></h3>
		<div>
			<h3>Go to other start/end blocks</h3>
			{% for entry in weeks %}
			{% if entry.note is defined and entry.note|length > 1 %}
				<div><a href='../{{ entry.start }}/{{ entry.end }}'>Week {{ entry.week }}</a> {{ entry.note }}</div>
			{% else %}
				<a href='../{{ entry.start }}/{{ entry.end }}'>Week {{ entry.week }}</a> | 
			{% endif %}
			{% endfor %}
			<form method='get' action='/pool-rewards/' onsubmit="return false">
				<input type="number" name="start" value="{{ start }}"/>
				<input type="number" name="end" value="{{ end }}"/>
				<input type="submit" onclick="location.href = parentElement.action + parentElement.start.value + '/' + parentElement.end.value"/>
			</form>
		</div>
		<div>
			<h1>Rewards for round {{ start }} -> {{ end }}</h1>
		</div>
		<table>
			<thead>
				<tr>
					<th>Address</th>
					<th>Uniswap Balance</th>
					<th>Disqualified Balance</th>
					<th>Percent of pool</th>
					<th>SNX Reward</th>
					<th>Disqualifying Transaction</th>
				</tr>
			</thead>
			{% for entry in rewards %}
			<tr>
				<td><a href="https://etherscan.io/address/{{ entry.address }}">{{ entry.address }}</a></td>
				<td>{{ entry.balance }}</td>
				<td>{{ entry.disqualifiedbalance }}</td>
				<td>{{ entry.percent }}%</td>
				<td>{{ entry.SNX }}</td>
				{% if entry.disqualifyingtx is defined and entry.disqualifyingtx|length > 1 %}
				<td><a href="https://etherscan.io/tx/{{ entry.disqualifyingtx }}">{{ entry.disqualifyingtx }}</a></td>
				{% else %}
				<td style='background-color: black;'/>
				{% endif %}
			</tr>
			{% endfor %}
		</table>
		<div>Sum of UNI-V1 tokens: {{ unisum }}</div>
		<h3>Found this useful? Send me some ETH/sETH/SNX/sUSD: 0x5cCD9f49393f4544e3C9954dDdC68a6Cb21AB078</h3>
	</body>
</html>
